@import "tailwindcss";

@theme inline {
  --color-cream: #FDFBF7;
  --color-charcoal: #1A1A1A;
  --color-hunter: #355E3B;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

/* Custom Utilities if needed */
@layer utilities {
  .tracking-super-wide {
    letter-spacing: 0.25em;
  }
}

body {
  background-color: var(--color-cream);
  color: var(--color-charcoal);
}
